.container {
    display: inline-block;
    width: 679px;
    vertical-align: top;
    margin-top: 96px;
}

.sliderContainer {
    margin-top: 39px;
}

.slider {
    width: 1810px;
    position: relative;
    left: -19px;
}

.card {
    margin-left: 23.5px;
}

.cardFirst {
    width: 200px;
    margin-left: 20px;
}

.cardLast {
    width: 200px;
    margin-left: 20px;
}

.camouflageBlock2 {
    background: linear-gradient(to left, #FFFFFF, transparent 99%);
    width: 180px;
    height: 480px;
    position: absolute;
    margin-top: -472px;
    margin-left: 1655px;
}

.camouflageBlock1 {
    z-index: 2;
    background: linear-gradient(to right, #FFFFFF, transparent 99%);
    width: 25px;
    height: 480px;
    position: absolute;
    margin-top: -10px;
    margin-left: -21px;
}

.optionsBlockContainer {
    width: 1663px;
}

.firstPart {
    display: inline-block;
    width: 679px;
}

.secondPart {
    display: inline-block;
    vertical-align: top;
    margin-left: 792.5px;
    margin-top: 40px;
}