.container {

}

.firstTextBlock {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #DF263E;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.secondTextBlock {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 38px;
    margin-top: 16px;
}

.thirdTextBlock {
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-top: 32px;
}