.container {
    margin-top: 96px;
}

.firstBlock {
    display: inline-block;
    vertical-align: top;
}

.secondBlock {
    margin-top: 55px;
    display: inline-block;
    margin-left: 165px;
}

.ellipse {
    position: absolute;
    height: 416px;
}

.circleContainer {
    position: relative;
    top: -305px;
    left: 313.5px;
    height: 193px;
    width: 193px;
    border-radius: 120px;
    animation: spin 130s linear infinite;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 179px;
    top: -22px;
    width: 170px;
    height: 250px;
    background-image: url('../../../assets/images/circle/section.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 110px 40px 40px 110px;
    z-index: 1;
}

.section1:hover {
    background-image: url("../../../assets/images/circle/sectionSelected.svg");
    color: #FFFFFF;
}

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 102px;
    top: -169px;
    width: 170px;
    height: 250px;
    background-image: url('../../../assets/images/circle/section.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 110px 40px 40px 110px;
    transform: rotate(300deg);
    z-index: 1;
}

.innerContainer2 {
    transform: rotate(-300deg);
}

.text2 {
    margin-top: -10px;
}

.section2:hover {
    background-image: url("../../../assets/images/circle/sectionSelected.svg");
    color: #FFFFFF;
}

.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 83px;
    top: -176px;
    width: 179px;
    height: 250px;
    background-image: url('../../../assets/images/circle/section.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 110px 40px 40px 110px;
    transform: rotate(240deg);
    z-index: 1;
}

.innerContainer3 {
    transform: rotate(-240deg);
}

.section3 p {
    display: block;
}

.section3:hover {
    background-image: url("../../../assets/images/circle/sectionSelected.svg");
    color: #FFFFFF;
}

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -153px;
    top: -36.5px;
    width: 170px;
    height: 250px;
    background-image: url('../../../assets/images/circle/section.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 110px 40px 40px 110px;
    transform: rotate(180deg);
    z-index: 1;
}

.innerContainer4 {
    transform: rotate(-180deg);
}

.section4 p {
    display: block;
}

.section4:hover {
    background-image: url("../../../assets/images/circle/sectionSelected.svg");
    color: #FFFFFF;
}

.section5 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -76px;
    top: 112px;
    width: 170px;
    height: 250px;
    background-image: url('../../../assets/images/circle/section.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 110px 40px 40px 110px;
    transform: rotate(120deg);
    z-index: 1;
}

.innerContainer5 {
    transform: rotate(-120deg);
}

.section5 p {
    display: block;
}

.section5:hover {
    background-image: url("../../../assets/images/circle/sectionSelected.svg");
    color: #FFFFFF;
}

.section6 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 90px;
    top: 119px;
    width: 170px;
    height: 250px;
    background-image: url('../../../assets/images/circle/section.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 110px 40px 40px 110px;
    transform: rotate(60deg);
}

.innerContainer6 {
    transform: rotate(-60deg);
}

.section6 p {
    display: block;
}

.section6:hover {
    background-image: url("../../../assets/images/circle/sectionSelected.svg");
    color: #FFFFFF;
}

.number {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 22.78px;
}

.text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 14.65px;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 110px;
    height: 110px;
    position: absolute;
    animation: spinOpposite 130s linear infinite;
    vertical-align: center;
    border-radius: 100px;
}

.contentContainer p {
    display: flex;
    justify-content: center;
    min-width: 110px;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}

@keyframes spinOpposite {
    from { transform: rotate(359deg); }
    to { transform: rotate(0deg); }
}