.container {
    width: 287px;
    height: 379px;
    box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.09);
    display: inline-block;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}

.container:hover {
    transform: scaleY(1.17);
    border: 1px solid #16161626;
    transition: all 0.2s ease-in-out;
}

.container .innerContainer {
    transition: all 0.2s ease-in-out;
}

.container:hover .innerContainer {
    transform: scaleY(0.857);
    transition: all 0.2s ease-in-out;
}

.container:hover .number {
    color: #DF263E;
    transition: all 0.2s ease-in-out;
}

.container .number {
    transition: all 0.2s ease-in-out;
}

.outerContainer {
    height: 443px;
    display: flex;
    align-items: center;
}

hr {
    width: 223px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
}

.number {
    margin-left: 32px;
    margin-top: 32px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 78px;
}

.text {
    margin-left: 32px;
    width: 223px;
    height: 135px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-top: -5px;
}

.link {
    margin-top: 20px;
}

a {
    margin-left: 32px;
    color: #DF263E;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

a:hover {
    color: #DF263E;
}