.consultationButton {
    border: none;
    border-radius: 8px;
    padding: 16px 24px;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #DF263E;
}

.buttonWrapper {
    display: inline-block;
}

button {
    transition: all 0.3s ease;
}

button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 15px;
    transition: all 0.3s ease;
}