.sliderContainer {
    width: 1920px;
    padding-top: 25px;
}

.sliderContainer :global(.slick-center) {
    transition: all 0.4s ease-in-out;
    transition-delay: 0.4s;
}

.sliderContainer :global(.slick-slide:not(.slick-active)) {
    opacity: 0.5;
    transition: all 0.4s ease-in-out;
    margin-top: 23px;
    transition-delay: 0.4s;
}
