.sliderContainer {
    width: 1920px;
    padding-top: 25px;
}

:global(.slick-center) {
    transition: all 0.5s ease-in-out;
}

:global(.slick-slide:not(.slick-active)) {
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
    margin-top: 23px;
}