.container img {
    margin-top: 8px;
    margin-left: 16px;
}

.headerText {
    margin-top: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-left: 16px;
}

.mainText {
    margin-top: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-left: 16px;
}