.container h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 38px;
    text-transform: uppercase;
}

.blockModule {
    width: 540px;
    margin-top: 24px;
}

.firstBlock {
    display: inline-block;
}

.secondBlock {
    display: inline-block;
    vertical-align: top;
    margin-left: 165px;
}

.firstSection {
    width: 50%;
    display: inline-block;
}

.secondSection {
    width: 50%;
    display: inline-block;
    padding-left: 13px;
}